.index-title {
  grid-template-areas:  'tag tag tag .'
                        'title title title title'
                        'paragraph paragraph paragraph .';
}
@media only screen and (min-width: 745px) {
  .index-title {
    grid-template-areas:  'tag tag tag . . . . .'
                          'title title title title title title title .'
                          'paragraph paragraph paragraph paragraph . . . .'
                          'controls controls controls . . . . .';
}
}
@media only screen and (min-width: 1105px) {
  .index-title {
    grid-template-areas:  'tag tag tag . . . . . . . . .'
                          'title title title title title title title title title . . .'
                          'paragraph paragraph paragraph paragraph . . . . . . . .';
                          /*'. contacts . . . arrow arrow . . . . .';*/
}
}



.index-title__tag {
  grid-area: tag;
}
.index-title__tag_style {
  color: var(--grey45);
}
.index-title__tag_size {}
.index-title__tag_position {
  margin: 0 0 50px 0;
}

.index-title__h1 {
  grid-area: title;
}
.index-title__h1_style {
  background: linear-gradient(265deg, #F15B5B 20%, #3462ee 100%);
}
.index-title__h1_style-2 {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.index-title__h1_size {}
.index-title__h1_position {
  margin: 0 0 25px -7px;
}















.index-title__paragraph {
  grid-area: paragraph;
}
.index-title__paragraph_style {
  color: var(--grey20);
}
.index-title__paragraph_size {}
.index-title__paragraph_position {
  margin: 0 0 25px 0;
}



.index-title__img {
  grid-area: tabletImg;
  display: none;
}
@media only screen and (min-width: 1105px) {
  .index-title__img {
    display: inline-block;
    grid-row-start: 1;
    grid-column-start: 7;
    z-index: -1;
    margin: 0 0 0 35px;
  }
}
.index-title__img_style {}
.index-title__img_size {}
.index-title__img_position {}

.index-title__link {
  grid-area: link;
}
.index-title__link_style {
  color: var(--grey50);
}
.index-title__link_size {}
.index-title__link_position {}

.index-title__scroll {
  grid-area: arrow;
  /*align-self: center;*/
  justify-self: center;
}
.index-title__scroll_style {
  border: 1px solid var(--grey50);
  border-radius: 50%;
}
.index-title__scroll_size {
  height: 100px;
  width: 100px;
}
.index-title__scroll_position {
  /*position: absolute;*/
  /*left: 46%;*/
  /*bottom: 35px;*/
}
.index-title__scroll-arrow_position {
  padding: 33%;
}



.index-title__contacts {}
.index-title__contacts_style {
  border: 1px solid var(--grey50);
  border-radius: 50%;
  color: var(--grey50);
  cursor: pointer;
}
.index-title__contacts_size {
  width: 100px;
  height: 100px;
  line-height: 20px;
  text-align: center;
}
.index-title__contacts_position {
  position: fixed;
  right: 15px;
  /*top: 70vh;*/
  bottom: 200px;
}
/*@media only screen and (min-width: 1105px) {
  .index-title__contacts_position {
    right: 0;
    top: 75vh;
  }
}
@media only screen and (orientation: landscape) and (max-height: 350px) {
  .index-title__contacts_position {
    top: 50vh;
  }
}*/

.index-title__contacts-arrow {
  position: relative;
  right: 85px;
  top: 28px;
}








