.index-folio_size {
  margin: 0 0 75px 0;
}

.index-folio__figure {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 745px) {
  .index-folio__figure {
    justify-content: space-evenly;
  }
}
@media only screen and (min-width: 1105px) {
  .index-folio__figure {
    justify-content: space-between;
  }
}

.index-folio__img_size {
  max-height: 180px;
  margin: 20px;
}
@media only screen and (min-width: 414px) {
  .index-folio__img_size {
    max-height: 190px;
  }
}
@media only screen and (min-width: 1105px) {
  .index-folio__img_size {
    max-height: 375px;
    max-width: 375px;
    margin: 35px 0;
  }
}


.index-folio__contacts:first-child {
  grid-area: ig;
}
.index-folio__contacts:last-child {
  grid-area: be;
}
.index-folio__lnk {
  grid-template-areas: 'ig . . .'
                        'be . . .';
}
@media only screen and (min-width: 745px) {
  .index-folio__lnk {
    grid-template-areas: 'ig ig . be . . . .';
}
}
.index-folio__contacts_style {
  border: 1px solid var(--grey50);
  border-radius: 50%;
  color: var(--grey50);
}
.index-folio__contacts_size {
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;

}
.index-folio__contacts_position {
  /*grid-area: contacts;*/
  /*position: absolute;*/
  /*right: 0;*/
  /*top: 80vh;*/
  /*margin: 0 0 100px 0;*/
}
.index-folio__contacts-arrow {
  position: relative;
  right: 85px;
  top: 28px;
}

.index-folio__button_style {
  border: 1px solid var(--grey35);
  border-radius: 50%;
}


/*.follow {
  color: var(--grey35);
  grid-area: line;
  line-height: 100px;
  margin: 0 auto;
  padding: 0 0 0 30px;
}*/

.button {
  position: relative;
}

.button:before {
  content: "";
  display: inline-block;
  transition: .4s cubic-bezier(.4,0,0,1);
  width: 0px;
  height: 0px;
  background-color: var(--grey20);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
}


.button:hover:before {
  /*scale: 1;*/
  width: 101px;
  height: 101px;
  left: 0;
  top: 0;
  z-index: -10;
}

.button:hover {
  color: var(--grey80);
  transition: .5s cubic-bezier(.4,0,0,1);
}














