.index-service {
  grid-template-areas:  'title title title title'
                        'subtitle subtitle subtitle subtitle'
                        'item item item item';
}
/* @media only screen and (min-width: 745px) {
  .index-service {
    grid-template-areas:  'title title title title title title title .'
                          ''
                          ''
                          '';
  }
} */
@media only screen and (min-width: 1105px) {
  .index-service {
    grid-template-areas:  'title title title title title title title title title . . .'
                          'subtitle subtitle subtitle subtitle subtitle subtitle item item item item item item';
  }
}




.index-service__title {
  grid-area: title;
}
.index-service__title_size {}
.index-service__title_style-1 {
  background: linear-gradient(265deg, #F15B5B 20%, #3462ee 100%);
}
.index-service__title_style-2 {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.index-service__title_position {
  margin: 0 0 50px -7px;
}


.index-service__subtitle {
  grid-area: subtitle;
}
.index-service__subtitle_size {}
.index-service__subtitle_style {}
.index-service__subtitle_position {}


.index-service__item {
  grid-area: item;
}
.index-service__item_size {}
.index-service__item_style {}
.index-service__item_position {}
