.index-stages {
  grid-template-areas:  'title title title title'
                        'subtitle subtitle subtitle subtitle'
                        'item item item item';
}
 @media only screen and (min-width: 412px) {
  .index-stages {
  grid-template-areas:  'title title title .'
                        'subtitle subtitle subtitle subtitle'
                        'item item item item';
}
}

@media only screen and (min-width: 745px) {
  .index-stages {
    grid-template-areas:  'title title title title title . . .'
                          'subtitle subtitle subtitle subtitle item item item item';
  }
}
@media only screen and (min-width: 1105px) {
  .index-stages {
    grid-template-areas:  'title title title title title title title . . . . .'
                          'subtitle subtitle subtitle subtitle subtitle subtitle . item item item item .';
  }
}


.index-stages__title {
  grid-area: title;
}
.index-stages__title_size {}
.index-stages__title_style-1 {
  background: linear-gradient(265deg, #F15B5B 20%, #3462ee 100%);
}
.index-stages__title_style-2 {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.index-stages__title_position {
  margin: 0 0 25px -7px;
}
/*@media only screen and (min-width: 745px) {
  .index-stages__title_position {
    margin: 0 0 25px -7px;
}
}*/


.index-stages__subtitle {
  grid-area: subtitle;
}
.index-stages__subtitle_size {
  margin: 0;
}
.index-stages__subtitle_style {
  color: var(--grey45);
}
.index-stages__subtitle_position {}


.index-stages__item {
  grid-area: item;
}
.index-stages__item_size {
  margin: 0 0 25px 0;
}
.index-stages__item_style {
  list-style-type: none;
  color: var(--grey20);
}
.index-stages__item_position {}
