/*General*/
.visually-hidden {
  visibility: hidden;
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
  position: fixed;
}

.wrapper {
  max-width: 425px;
  margin: 0 auto;
  padding: 0 15px;
}
@media only screen and (min-width: 745px) {
  .wrapper {
    max-width: 768px;
    padding: 0 25px;
  }
}
@media only screen and (min-width: 1105px) {
  .wrapper {
    max-width: 1105px;
  }
}


.grid {
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(4, minmax(53px, 1fr));
}
@media only screen and (min-width: 745px) {
  .grid {
    grid-template-columns: repeat(8, minmax(65px, 1fr));
  }
}
@media only screen and (min-width: 1105px) {
  .grid {
    grid-template-columns: repeat(12, minmax(65px, 1fr));
  }
}

.noise {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /*height: 100%;*/
    pointer-events: none;
    opacity: .115;
}


.block-gap_size {
  margin: 50px 0 75px 0;
}
.block-gap-title_size {
  margin: 100px 0 75px 0;
}
.block-gap-footer_size {
  margin: 0 0 25px 0;
}
@media only screen and (min-width: 745px) {
  .block-gap_size {
    margin: 0 0 225px 0;
  }
  .block-gap-title_size {
    margin: 140px 0 225px 0;
  }
}

.word {
  display: inline-block;
}
.char {
  display: inline-block;
}

.object {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -100;
  /*display: none;*/
  /*grid-area: object;*/
}










/*--------------------- PRELOADER -------------------*/

.preloader {
  width: 100vw;
  height: 100vh;
  z-index: 19999;
  position: fixed;
  /*top: 0;*/
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #202020;

}
.preloader_srcoll-off {
  overflow: hidden;
}

.preloader__img_position {
  position: relative;
  /*top: 50%;*/
  /*left: 50%;*/
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.preloader__img_size {
  width: 100px;
  margin: 0 0 75px 0;
}


.preloader_title {
  color: var(--grey30);
  margin: 0 2px 0 0;
  text-align: center;
}
.preloader .line {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: var(--grey30);
  margin: 0 2px;
  display: inline-block;
  animation: opacity 1000ms infinite ease-in-out;
}
.preloader .line-1 { animation-delay: 100ms; }
.preloader .line-2 { animation-delay: 500ms; }
.preloader .line-3 { animation-delay: 1000ms; }
.preloader .line-4 { animation-delay: 1500ms; }
.preloader .line-5 { animation-delay: 2000ms; }
@keyframes opacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.preload_out {
  transition: transform 2.5s cubic-bezier(.4,0,0,1);
  transform: translateY(-200vh);
}

.preload__img_out {
  transition: opacity .85s cubic-bezier(.4,0,0,1);
  opacity: 0;
}






/*---------------------HEADER-------------------*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*margin: 15px 0 100px 0;*/
}

.header_position {
  position: fixed;
  width: 100vw;
  margin: 0;
  z-index: 9999;
  top: 15px;
  left: 0;
}
.header_size {
  margin: 0 15px;
}
@media only screen and (min-width: 1105px) {
  .header_size {
    width: 1105px;
    margin: 0 auto;
  }
}
.header_style {}


.header__img {
}
.header__img_style {}
.header__img_size {
  height: 30px;
  mix-blend-mode: multiply;
  /*width: 100%;*/
}
.header__img_position {}

.header__nav {
  position: relative;
}
.header__nav_style {
  color: var(--grey30);
  list-style-type: none;
  /*overflow: hidden;*/
}
.header__nav_style-animation:hover {
  background: linear-gradient(-60deg, #F15B5B, #09C6F9, #3462EE, #F15B5B);
}
.header__nav_style-animation:hover {
  background-size: 300%;
  animation: flow 6s ease-in-out infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes flow {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


.header__nav_style-arrow {
  background-image   : url('../img/chevron.svg');
  background-position: right;
  background-repeat  : no-repeat;
  padding: 0 20px 0 8px;
}
.header__lng:hover .header__nav_style-arrow {
  transition: .05s cubic-bezier(.4,0,0,1);
  color: var(--grey90);
  background-image   : url('../img/chevron-black.svg');
  background-repeat  : no-repeat;
  background-position: right;
  transform: rotateY(90deg);
}
.header__nav_size {}
.header__nav_position {}



.header__lng {
  padding: 5px 0;
}
.header__lng_style {
  padding: 8px 18px;
  border-radius: 8px;
  background: var(--grey90);
}
.header__lng_size {
  margin: 0 0 10px 0;
}
.header__lng_position {
  position: absolute;
  top: -200vh;
}
.header__lng:hover .header__lng_position {
  top: 25px;
}



.nav-lnk_style {
  text-decoration: none;
  color: var(--grey35);
}
.nav-lnk_size {
  padding: 5px 0;
}
.nav-lnk_position {
  position: relative;
}

.nav-lnk__line_style {
  background: var(--grey35);
  opacity: 0;
  transition: opacity .18s cubic-bezier(.5,.1,0,.99);
}
.nav-lnk__line_size {
  height: 1px;
  width: 100%;
}
.nav-lnk__line_position {
  position: absolute;
  bottom: 0;
  left: 0;
}
.nav-lnk_style:hover .nav-lnk__line_style {
  opacity: .2;
}



.nav-lnk_style:after {
  content: "";
  height: 1px;
  width: 0;
  background: var(--grey20);
  position: absolute;
  bottom: 0;
  right: 0;
  transition: width .4s cubic-bezier(.5,.1,0,.99);
}
.nav-lnk_style:hover:after {
  width: 100%;
  left: 0;
  transition-delay: .12s;
}







/*.button {
  position: relative;
}*/


/*.content {
  grid-area: content;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}*/

/*.cursor {
  display: none;
}

@media (any-pointer: fine) {
  .cursor {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    pointer-events: none;
  }
  .cursor__inner {
    fill: var(--cursor-fill);
    stroke: var(--cursor-stroke);
    stroke-width: var(--cursor-stroke-width);
  }
}*/



.button {
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 0;
  color: var(--grey50);
  background: none;
  width: 100px;
  height: 100px;
  padding: 0;
  margin: 1rem;
  font-family: inherit;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.03em;
  position: relative;
}

.button:focus,
.button--hover {
  outline: none;
  /*border-color: var(--button-stroke-hover);*/
  color: var(--grey30);
  transition: .85s cubic-bezier(.5,.1,0,.99);
  /*background: var(--button-bg-hover);*/
}

.button__deco {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
}

.button__deco--1 {
  /*transition: .85s cubic-bezier(.5,.1,0,.99);*/
  border-color: var(--grey50);
}

/*.button__deco--1 {
  border-color: var(--grey50);
}*/

.button__deco--2 {
  border-color: var(--grey50);
  /*transition: .85s cubic-bezier(.5,.1,0,.99);*/
}

.button--hover .button__deco--2 {
  /*border-color: var(--grey30);*/
  /*transition: .15s cubic-bezier(.5,.1,0,.99);*/
}

.button--hover .button__deco--1 {
  /*border-color: var(--grey30);*/
  /*transition: .15s cubic-bezier(.5,.1,0,.99);*/
}

.button__text,
.button__text-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.button__text {
  overflow: hidden;
}









/*---------------------ASIDE-------------------*/


/*---------------------ASIDE-------------------*/

.aside {
  position: fixed;
  top: 0;
  left: -110%;
  width: 100vh;
  height: 100vh;
  transition: .85s cubic-bezier(.5,.1,0,.99);
}


.aside {
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(4, minmax(55px, 1fr));
  grid-template-areas:  '. title . .'
                        '. mail . .'
                        '. social chat .';
}
@media only screen and (min-width: 745px) {
  .aside {
    grid-template-columns: repeat(8, minmax(65px, 1fr));
    grid-template-areas:
                          '. . . . . . . . '
                          '. title title mail social social chat chat';
  }
}
@media only screen and (min-width: 1105px) {
  .aside {
    grid-template-columns: repeat(10, minmax(65px, 1fr));
    grid-template-areas:
                          '. . . . . . . . . .'
                          '. title title mail social social chat chat . .';
  }
}
.aside_style {
  background-color: var(--grey90);
  /*height: 100vh;*/
  /*width: 100vw;*/
/*   position: absolute; */
/*   left: -400px; */

}


.aside-title {
  grid-area: title;
}
.aside-title_style {
  color: var(--grey45);
}
.aside-title_size {}
.aside-title_position {
  margin: 0;
  height: 35px;
}

.aside-item {
  height: 35px;
}

.aside-item__social {
  grid-area: social;
}
.aside-item_style {
  list-style-type: none;
}
.aside-item_size {}
.aside-item_position {}


.aside-item__chat {
  grid-area: chat;
  margin: 15px 0 0 0;
}
.aside-item__mail {
  height: 50px;
}

#checkbox {
   position: absolute;
  top: -200vh;
}


.aside_checked {
  left: 0px;
  opacity: 1;
  transition: .95s cubic-bezier(.5,.1,0,.99);
}











/*---------------------FOOTER-------------------*/

.footer {
  grid-template-areas:  'title title title title'
                        'contacts contacts contacts contacts'
                        '. . . .'
                        '. place place .';
}
 @media only screen and (min-width: 745px) {
  .footer {
    grid-template-areas:  'title title title title contacts contacts contacts contacts'
                          '. . . . . . . .'
                          '. . . . . . . .'
                          '. . . place place . . .';
  }
}
@media only screen and (min-width: 1105px) {
  .footer {
    grid-template-areas:  'title title title title title . . contacts contacts contacts contacts contacts'
                          '. . . . . . . . . . . .'
                          '. . . . . . . . . . . .'
                          '. . . . . place place . . . . .';
  }
}



.footer {
  border-top: 1px solid var(--grey50);
  padding: 75px 0 0 0;
}

.footer__title {
  grid-area: title;
}
.footer__title_size {}
.footer__title_style {
  color: var(--grey40);
}
.footer__title_position {
  margin: 0;
}




.footer__contacts {
  grid-area: contacts;
  display: grid;
}
.footer__contacts {
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(4, minmax(55px, 1fr));
  grid-template-areas: 'social social social social'
                          'chat chat chat chat';
}
/* @media only screen and (min-width: 745px) {
  .footer__contacts {
    grid-template-columns: repeat(8, minmax(65px, 1fr));
  }
} */
@media only screen and (min-width: 1105px) {
  .footer__contacts {
    grid-template-columns: repeat(5, minmax(65px, 1fr));
    grid-template-areas: 'social social social social social'
                          'chat chat chat chat chat';
  }
}



.footer__lnk-social {
  grid-area: social;
  display: flex;
  /*justify-content: space-between;*/
}
.footer__lnk-social_size {}
.footer__lnk-social_style {
  list-style-type: none;
  margin: 0 15px 0 0;
}
.footer__lnk-social_position {
  margin: 0 15px 0 0;
}


.footer__lnk-chat {
  grid-area: chat;
  display: flex;
  /*justify-content: space-between;*/
}
.footer__lnk-chat_size {}
.footer__lnk-chat_style {
  color: var(--grey20);
  text-decoration: none;
}
.footer__lnk-chat_position {
  margin: 0 15px 0 0;
}

.footer-lnk_style {
  text-decoration: none;
  color: var(--grey35);
}
.footer-lnk_size {
  padding: 5px 0;
}
.footer-lnk_position {
  position: relative;
}

.footer-lnk__line_style {
  background: var(--grey35);
  opacity: 0;
  transition: opacity .18s cubic-bezier(.5,.1,0,.99);
}
.footer-lnk__line_size {
  height: 1px;
  width: 100%;
}
.footer-lnk__line_position {
  position: absolute;
  bottom: 0;
  left: 0;
}
.footer-lnk_style:hover .footer-lnk__line_style {
  opacity: .2;
}



.footer-lnk_style:after {
  content: "";
  height: 1px;
  width: 0;
  background: var(--grey20);
  position: absolute;
  bottom: 0;
  right: 0;
  transition: width .4s cubic-bezier(.5,.1,0,.99);
}
.footer-lnk_style:hover:after {
  width: 100%;
  left: 0;
  transition-delay: .12s;
}



.footer-place {
  grid-area: place;
  color: var(--grey50);
  margin: 0 auto;
}
















