/*General*/
.visually-hidden {
  visibility: hidden;
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
  position: fixed;
}

.wrapper {
  max-width: 745px;
  margin: 0 auto;
  padding: 0 25px;
}
@media only screen and (min-width: 745px) {
  .wrapper {
    max-width: 1105px;
    padding: 0 25px;
  }
}



.grid {
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(4, minmax(55px, 1fr));
}
@media only screen and (min-width: 745px) {
  .grid {
    grid-template-columns: repeat(8, minmax(65px, 1fr));
  }
}
@media only screen and (min-width: 1105px) {
  .grid {
    grid-template-columns: repeat(12, minmax(65px, 1fr));
  }
}




.noise {
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    pointer-events: none;
    opacity: .125;
}


/*---------------------HEADER-------------------*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*margin: 15px 0 100px 0;*/
}

.header_style {}
.header_size {
  max-width: 1105px;
}
.header_position {
  position: fixed;
  width: 1105px;
  margin: 0 auto;
  z-index: 9999;
  top: 15px;
}

.header__img {
}
.header__img_style {}
.header__img_size {
  height: 30px;
  /*width: 100%;*/
}
.header__img_position {}

.header__nav {
}
.header__nav_style {
  color: var(--grey30);
  list-style-type: none;
}
.header__nav_style-animation:hover {
  background: linear-gradient(-60deg, #F15B5B, #09C6F9, #3462EE, #F15B5B);
}
.header__nav_style-animation:hover {
  background-size: 300%;
  animation: flow 6s ease-in-out infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes flow {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


.header__nav_style-arrow {
  background-image   : url('../img/chevron.svg');
  background-position: right;
  background-repeat  : no-repeat;
  padding: 0 20px 0 8px;
}
.header__lng:hover .header__nav_style-arrow {
  transition: .05s cubic-bezier(.4,0,0,1);
  color: var(--grey90);
  background-image   : url('../img/chevron-black.svg');
  background-repeat  : no-repeat;
  background-position: right;
  transform: rotateY(90deg);
}
.header__nav_size {}
.header__nav_position {}



.header__lng {
  padding: 5px 0;
}
.header__lng_style {
  padding: 8px 18px;
  border-radius: 8px;
  background: var(--grey90);
}
.header__lng_size {
  margin: 0 0 10px 0;
}
.header__lng_position {
  position: absolute;
  top: -200vh;
}
.header__lng:hover .header__lng_position {
  top: 45px;
}




.nav-lnk_style {
  text-decoration: none;
  color: var(--grey35);
}
.nav-lnk_size {
  padding: 5px 0;
}
.nav-lnk_position {
  position: relative;
}

.nav-lnk__line_style {
  background: var(--grey35);
  opacity: 0;
  transition: opacity .18s cubic-bezier(.5,.1,0,.99);
}
.nav-lnk__line_size {
  height: 1px;
  width: 100%;
}
.nav-lnk__line_position {
  position: absolute;
  bottom: 0;
  left: 0;
}
.nav-lnk_style:hover .nav-lnk__line_style {
  opacity: .2;
}



.nav-lnk_style:after {
  content: "";
  height: 1px;
  width: 0;
  background: var(--grey20);
  position: absolute;
  bottom: 0;
  right: 0;
  transition: width .4s cubic-bezier(.5,.1,0,.99);
}
.nav-lnk_style:hover:after {
  width: 100%;
  left: 0;
  transition-delay: .12s;
}






































/*---------------------FOOTER-------------------*/

.footer {
  grid-template-areas:  'title title title title'
                        'contacts contacts contacts contacts';
}
/* @media only screen and (min-width: 745px) {
  .footer {
    grid-template-areas:  'title title title title title title title .'
                          ''
                          ''
                          '';
  }
} */
@media only screen and (min-width: 1105px) {
  .footer {
    grid-template-areas:  'title title title title title . . contacts contacts contacts contacts contacts'
  }
}


.footer__title {
  grid-area: title;
}
.footer__title_size {}
.footer__title_style {}
.footer__title_position {}




.footer__contacts {
  grid-area: contacts;
  display: grid;
}
.footer__contacts {
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(4, minmax(55px, 1fr));
  grid-template-areas: 'social social social social'
                          'chat chat chat chat';
}
/* @media only screen and (min-width: 745px) {
  .footer__contacts {
    grid-template-columns: repeat(8, minmax(65px, 1fr));
  }
} */
@media only screen and (min-width: 1105px) {
  .footer__contacts {
    grid-template-columns: repeat(5, minmax(65px, 1fr));
    grid-template-areas: 'social social social social social'
                          'chat chat chat chat chat';
  }
}



.footer__lnk-social {
  grid-area: social;
  display: flex;
}
.footer__lnk-social_size {}
.footer__lnk-social_style {}
.footer__lnk-social_position {}


.footer__lnk-chat {
  grid-area: chat;
  display: flex;
}
.footer__lnk-chat_size {}
.footer__lnk-chat_style {}
.footer__lnk-chat_position {}






